{{define "blog_register"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Demo"}}
</head>
<body>
    {{template "head_menu" .}}
    <main class="main">
        <section class="loggin-register py-1">
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-8">
                        <form method="post" action="/auth/register">
                            <div class="form-group">
                                <label for="exampleInputEmail1">User</label>
                                <input type="" class="form-control" name="UserName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Display Name</label>
                                <input type="" class="form-control" name="DisplayName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <input type="" class="form-control" name="Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="" class="form-control" name="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="" class="form-control" name="Password">
                            </div>

                            <button type="submit" class="btn btn-primary">Đăng Ký</button>
                           
                        </form>
                    </div>
                </div>
            </div>
        </section>
      
      
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}