{{define "show_user"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Demo"}}
</head>
<body>
    {{template "head_menu" .}}
    <main class="main">
            
        {{if eq $.user.Level 2}}
        <section class="py-5 bg-image-full" >
            <section class="container">
               
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="col-12">
                            <table class="table card-table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Display Name</th>
                                        <th>Email</th>
                                        <th>Level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {{range $user := $.users}}
                                    <tr>
                                        <td><a href="/auth/setuser/{{$user.ID}}">{{$user.UserName}}</a></td>
                                        <td>{{$user.DisplayName}}</td>
                                        <td>{{$user.Email}}</td>
                                        <td>{{$user.Level}}</td>
                                    </tr>
                                        {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            </section>
        </section>
        {{else}}
        <h2>Bạn chưa được phân quyền vào trang này</h2>
        {{end}}
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}