{{define "demo"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Demo"}}
</head>
<body>
    {{template "head_menu"}}
    <main class="main">
        <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
            <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
        </section>
        <!-- Content section -->
        <section class="py-5">
            <div class="container">
                <h1>Section Heading</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
            </div>
        </section>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}

{{define "head_lib"}}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{.}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/reponsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/public/assets/jquery/jquery.min.js"></script>
    <script src="/public/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- upload file awata (3 file js) -->

</head>
{{end}}

{{define "footer"}}
<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/api.js"></script>
<script src="/public/js/app.js"></script>

{{end}}

{{define "head_menu"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                {{if ne .user.UserName ""}}
                    {{if eq .user.Level 2}}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/auth/showuser">User</a>
                </li>
                    {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{.user.UserName}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                      <a href="/session/logout" class="dropdown-item">Log Out</a>                    
                      <a href="/auth/myinfo/{{$.user.ID}}" class="dropdown-item">Change info</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item dropdown">
                    <a href="/auth/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item dropdown">
                        <a href="/auth/register" class="nav-link">Register</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
{{end}}

