{{define "blog_index"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Demo"}}
</head>
<body>
    {{template "head_menu" .}}
    <main class="main">

        <article class="py-5">
            <section class="create-post py-1">
                <div class="container">
                    <div class="row p-0">
                        {{if ne $.user.Level 0}}
                        <div class="col-7 create  offset-5">
                                <a href="/blog/create" class="btn btn-bd-download d-none d-lg-inline-block col-3 offset-9">Create</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </section>
            <section class="py-1 bg-image-full" >
                <section class="container">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{range $blog := $.blogs}}
                            <li class="list-group-item"><a href="/blog/view/{{$blog.ID}}">{{$blog.Title}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    
                </section>
            </section>
        </article>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}