{{define "blog_index"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Demo"}}
</head>
<body>
    {{template "head_menu" .user}}
    <main class="main">
        <section class="loggin-resign py-1">
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-8">
                        <form method="post" action="/blog/login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">User</label>
                                <input type="text" class="form-control" name="username">
                                
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                            <a href="/blog/resign" class="btn btn-secondary">Đăng ký</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="create-post py-2">
            <div class="container">
                <div class="row p-0">
                    <div class="col-2 create">
                        <a href="/blog/create" class="btn btn-primary">Create</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-image-full" >
            <section class="container">
                {{range $blog := $.blogs}}
                <div class="row">
                    <div class="col-8">
                        <h2><a href="/blog/view/{{$blog.ID}}">{{$blog.Title}}</a></h2>
                    </div>
                </div>
                {{end}}
            </section>
        </section>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}